#ignore the projects zip file
customer_segments.zip

#ignore csv data
Wholesale_customers_data.csv

#ignore python binaries
*.pyc

#ignore Reviews
*Review*

#ignore checkpoints
.ipynb_checkpoints

#ignore html file
customer_segments.html